<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="hongs.community.hongsCommunity.global.hongs.file.tus.HongTusFileMapper">

    <select id="generateKey" resultType="Long">
        SELECT NVL(MAX(hong_file_uid)+1, 1) as uid
          FROM hong_file
    </select>

    <insert id="insertTempFile" parameterType="HongSaveFileDto">
        INSERT INTO hong_file (
            hong_file_uid
           ,file_name
           ,file_url
           ,file_id
           ,file_path
           ,file_type
           ,file_size
           ,extension
           ,down_cnt
           ,saved
           ,delete_yn
           ,reg_id
           ,mdfr_id
           ,reg_dt
           ,mdfr_dt
        ) values (
            #{hongFileUid}
           ,#{fileName}
           ,#{fileUrl}
           ,#{fileId}
           ,#{filePath}
           ,#{fileType}
           ,#{fileSize}
           ,#{extension}
           ,#{downCnt}
           ,#{saved}
           ,#{deleteYn}
           ,#{regId}
           ,#{mdfrId}
           ,now()
           ,now()
        )
    </insert>

    <delete id="deleteFileReal" parameterType="HongDeleteFileDto">
        delete from hong_file
         where file_url = #{fileUrl}
    </delete>

    <update id="changeFileState" parameterType="HongChangeStateFileDto">
        update hong_file
           set hong_file_uid = #{hongFileUid}
              ,saved = #{saved}
            <if test="deleteYn != null">
              ,delete_yn = #{deleteYn}
            </if>
              ,mdfr_id = #{mdfrId}
              ,mdfr_dt = now()
        where file_url = #{fileUrl}
    </update>
</mapper>