<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="hongs.community.hongsCommunity.domain.comment.HongCommentMapper">	<!-- mapper 인터페이스가 위치하는 풀경로 -->

    <select id="list" resultType="HongCommentListVo" parameterType="HongCommentListDto">
        /* comment.list */
        select hcomment.hong_comment_uid as hong_comment_uid
              ,hcomment.comment_cnt as comment_cnt
              ,huser.user_name as user_name
              ,huser.user_email as user_email
              ,hfile.file_url as profile_src
              ,case when hcomment.reg_id = #{loginUser} then true else false end as can_edit
          from hong_comment hcomment
          left join hong_user huser on huser.user_uid = hcomment.reg_id
          left join hong_file hfile on hfile.hong_file_uid = huser.profile and hfile.delete_yn = 'N' and hfile.saved = 'SAVED' where hcomment.delete_yn = 'N'
           and hcomment.target_type = #{type}
           and hcomment.target_id = #{targetId}
    </select>

    <insert id="insert" parameterType="HongCommentInsertDto">
        /* comment.insert */
        insert into hong_comment (
            comment_cnt
           ,target_type
           ,target_id
           ,delete_yn
           ,reg_id
           ,reg_dt
           ,mdfr_id
           ,mdfr_dt
        ) values (
            #{commentCnt}
           ,#{targetType}
           ,#{targetId}
           ,'N'
           ,#{regId}
           ,now()
           ,#{mdfrId}
           ,now()
        )
    </insert>

    <delete id="delete" parameterType="Long">
        /* comment.delete */
        update hong_comment
           set delete_yn = 'Y'
         where hong_comment_uid = #{commentUid}
    </delete>

    <update id="update" parameterType="HongCommentUpdateDto">
        /* comment.update */
        update hong_comment
           set comment_cnt = #{commentCnt}
              ,mdfr_id = #{mdfrId}
              ,mdfr_dt = now()
         where hong_comment_uid = #{commentUid}
    </update>
</mapper>