<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="hongs.community.hongsCommunity.domain.emotion.HongBoardReportEmoMapper">	<!-- mapper 인터페이스가 위치하는 풀경로 -->

    <select id="reportEmoCount" resultType="int" parameterType="HongBoardReportEmoListDto">
        /* report-emo.reportEmoCount */
        select count(*)
          from hong_board_report_emo
         where emotion_code = #{emotionCode}
           <if test="regChkTf == 'true'">
           and reg_id = #{regId}
           </if>
           and board_report_uid = #{boardReportUid}
    </select>

    <insert id="insert" parameterType="HongBoardReportEmoInsertDto">
        /* report-emo.insert */
        insert into hong_board_report_emo (
            board_report_uid
           ,emotion_code
           ,reg_id
           ,reg_dt
        ) values (
            #{boardReportUid}
           ,#{emotionCode}
           ,#{regId}
           ,now()
        )
    </insert>

    <delete id="delete" parameterType="HongBoardReportEmoDeleteDto">
        /* report-emo.delete */
        delete from hong_board_report_emo
         where reg_id = #{regId}
           and board_report_uid = #{boardReportUid}
           and emotion_code = #{emotionCode}
    </delete>
</mapper>