<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="content">
    <div class="card">
        <div class="card-body">
            <div id='calendar'></div>
        </div>
    </div>

    <div class="modal fade" id="addCalendarModal" tabindex="-1" role="dialog" aria-labelledby="addCalendarModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCalendarModalLabel">일정 추가하기</h5>
                    <button type="button" class="close add-modal-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addCalendarModal-form" class="needs-validation" novalidate>
                        <div class="form-group">
                            <label for="addCalendar-color" class="col-form-label">일정 색깔</label>
                            <select class="form-select" id="addCalendar-color" required>
                                <th:block th:each="color, colorStat: ${colors}">
                                    <option th:selected="${colorStat?.first}" th:value="${color?.codeVal}" th:data-text="${color?.memoCn}" th:text="${color?.codeNm}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                            <label for="addCalendar-period" class="col-form-label">일정 기간</label>
                            <input type="text" class="form-control" id="addCalendar-period" readonly>
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                            <label for="addCalendar-content" class="col-form-label">일정 내용</label>
                            <input type="text" class="form-control" id="addCalendar-content" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary add-modal-close">닫기</button>
                    <button type="button" class="btn btn-primary" id="addCalendar-add">일정 추가</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateCalendarModal" tabindex="-1" role="dialog" aria-labelledby="updateCalendarModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateCalendarModalLabel">일정 변경하기</h5>
                    <button type="button" class="close update-modal-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  id="updateCalendarModal-form" class="needs-validation" novalidate>
                        <div class="form-group">
                            <label for="updateCalendar-color" class="col-form-label">일정 색깔</label>
                            <select class="form-select" id="updateCalendar-color" required>
                                <th:block th:each="color, colorStat: ${colors}">
                                    <option th:selected="${colorStat?.first}" th:value="${color?.codeVal}" th:data-text="${color?.memoCn}" th:text="${color?.codeNm}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                            <label for="updateCalendar-period-start" class="col-form-label">일정 시작일</label>
                            <input type="date" id="updateCalendar-period-start" class="form-control" name="startDate" required/>
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                            <label for="updateCalendar-period-end" class="col-form-label">일정 종료일</label>
                            <input type="date" id="updateCalendar-period-end" class="form-control" name="startDate" required/>
                        </div>
                        <div class="form-group" style="margin-top: 10px;">
                            <label for="updateCalendar-content" class="col-form-label">일정 내용</label>
                            <input type="text" class="form-control" id="updateCalendar-content" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary update-modal-close">닫기</button>
                    <button type="button" class="btn btn-outline-primary" id="updateCalendar-delete">일정 삭제</button>
                    <button type="button" class="btn btn-primary" id="updateCalendar-update">일정 수정</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script>

        const calendar = new DateCalendar('calendar').init()

        const addCalendarColor = $("#addCalendar-color")
        const updateCalendarColor = $("#updateCalendar-color")

        $(function () {
            $(".add-modal-close").on('click', () => resetModal(true))
            $(".update-modal-close").on('click', () => resetModal(false))

            $("#updateCalendar-delete").on('click', () => {
                const info = calendar.getInfo()
                info.event.remove()
            })

            $("#addCalendar-add").on('click', () => {
                const form = document.getElementById("addCalendarModal-form")
                if (form.checkValidity() === false) form.classList.add("was-validated")
                else {
                    calendar
                        .setData('backgroundColor', addCalendarColor.find(":selected").val())
                        .setData('borderColor', addCalendarColor.find(":selected").val())
                        .setData('textColor', updateCalendarColor.find(":selected").attr('data-text'))
                        .setData('title', $("#addCalendar-content").val())

                    const obj = calendar.getData()
                    Http.post('/api/calendar/insert.json', obj).then((res) => {
                        calendar.setData('uid', res.message)
                        calendar.addDateEvent(calendar.getData())
                        resetModal(true)
                    })
                }
            })

            $("#updateCalendar-update").on('click', () => {

                const form = document.getElementById("updateCalendarModal-form")
                if (form.checkValidity() === false) form.classList.add("was-validated")
                else {
                    calendar
                        .setData('title', $("#updateCalendar-content").val())
                        .setData('start', $("#updateCalendar-period-start").val())
                        .setData('end', DateUtil.getNextDates($("#updateCalendar-period-end").val()))
                        .setData('textColor', updateCalendarColor.find(":selected").attr('data-text'))
                        .setData('backgroundColor', updateCalendarColor.find(":selected").val())
                        .setData('borderColor', updateCalendarColor.find(":selected").val())

                    const obj = calendar.getData()
                    obj['calUid'] = obj['uid']
                    delete obj['uid']
                    Http.put('/api/calendar/update.json', obj).then((res) => {
                        calendar.updateDateEvent(calendar.getData())
                        resetModal(false)
                    })
                }
            })

            calendar.rowSelect(info => {
                calendar.setData('start', info.startStr).setData('end', info.endStr)
                if(DateUtil.dayDifference(info.startStr, info.endStr, 1)) $("#addCalendar-period").val(`${info.startStr}`)
                else $("#addCalendar-period").val(`${info.startStr} ~ ${DateUtil.getPrevDates(info.endStr)}`)
                $("#addCalendarModal").modal('show')
            })

            calendar.eventRemove(info => {
                const uid = info.event._def.extendedProps.uid
                Http.delete(`/api/calendar/delete.json?clUid=${uid}`).then((res) => {
                    resetModal(false)
                })
            })

            calendar.eventDrop(info => {
                const uid = info.event._def.extendedProps.uid
                const start = DateUtil.formatDate(info.event._instance.range.start)
                const end = DateUtil.formatDate(info.event._instance.range.end)
                Http.put('/api/calendar/updateDate.json', {calUid: uid, start: start, end: end})
            })

            calendar.eventClick(info => {
                setObj(info)
                $("#updateCalendar-content").val(calendar.getData().title)
                $("#updateCalendar-color").val(calendar.getData().backgroundColor)
                $("#updateCalendar-period-start").val(calendar.getData().start)
                $("#updateCalendar-period-end").val(DateUtil.getPrevDates(calendar.getData().end))
                $("#updateCalendarModal").modal('show')
                calendar.setInfo(info)
            })
        });

        function setObj(info) {
            calendar
                .setData('title', info.event._def.title)
                .setData('start', DateUtil.formatDate(info.event._instance.range.start))
                .setData('end', DateUtil.formatDate(info.event._instance.range.end))
                .setData('uid', info.event._def.extendedProps.uid)
                .setData('borderColor', info.event._def.ui.backgroundColor)
                .setData('backgroundColor', info.event._def.ui.backgroundColor)
                .setData('textColor', info.event._def.ui.textColor)
        }

        function resetModal(addModal = true){
            calendar.resetData()
            if(addModal) {
                addCalendarColor.val('green')
                $("#addCalendar-content").val('')
                $("#addCalendar-period").val('')
                $("#addCalendarModal").modal('hide')
            } else {
                updateCalendarColor.val('green')
                $("#updateCalendar-content").val('')
                $("#updateCalendar-period").val('')
                $("#updateCalendarModal").modal('hide')
            }
        }

    </script>
</th:block>

</html>