<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hongs.community.hongsCommunity.domain.report.user.HongBoardReportMapper">

    <select id="view" parameterType="Long" resultType="HongBoardReportViewVo">
        /* board-report.delete */
        select hong_board_report_uid as report_uid
              ,report_title as title
              ,report_content as content
              ,file_uid
              ,notice_yn
          from hong_board_report
         where hong_board_report_uid = #{reportUid}
    </select>

</mapper>