<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="comment">

  <div id="comment-div"></div>

  <script id="comment-div-template" type="text/x-handlebars-template">
    {{#if message.length}}
    <div class="comment-div-2">
      {{#message}}
      <div class="col-xl-3 col-md-12 mb-4" >
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <img class="img-profile rounded-circle" src="/api/hong/files/download?fileUrl={{profileSrc}}" onerror="this.src='/assets/src/img/profile.svg'" style="width: 50px; height: 50px;">
                  </div>
                  <div class="col mr-2" style="margin-left: 10px;">
                    <div class="text-xl font-weight-bold mb-1">
                      <span>{{userNm}}</span>
                      <div class="text-black-50 small">
                        <span>{{userEmail}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-end contents" style="margin-top: 10px;">
                  <input type="hidden" class="hidden-uid" name="hongCmntUid" value="{{hongCmntUid}}" />
                  <textarea class="form-control" rows="3" style="margin-right: 5px;" readonly id="comment-{{hongCmntUid}}">{{cmntCn}}</textarea>
                  <button type="button" class="btn btn-sm btn-outline-primary comment-add" id="add-btn-{{hongCmntUid}}" onclick="commentAdd(this)" style="width: 5%; display: none;">댓글 <br> 수정</button>
                </div>
              </div>
              <div class="col-auto" style="margin-bottom: 100px;">
                {{#if canEdit}}
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="commentMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="commentMenuLink">
                      <a class="dropdown-item" href="#" onclick="commentDelete('{{hongCmntUid}}');return false;">댓글 삭제</a>
                      <a class="dropdown-item" href="#" onclick="commentEdit('{{hongCmntUid}}');return false;">댓글 수정</a>
                    </div>
                  </div>
                {{else}}
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/message}}
      <div class="col-xl-3 col-md-12 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <img class="img-profile rounded-circle" th:src="|/api/hong/files/download?fileUrl=${#authentication.principal.user.profileUrl}|" onerror="this.src='/assets/src/img/profile.svg'" style="width: 50px; height: 50px;">
              </div>
              <div class="col mr-2" style="margin-left: 10px;">
                <div class="text-xl font-weight-bold mb-1">
                  <span th:text="${#authentication.principal.user.userNm}"></span>
                  <div class="text-black-50 small">
                    <span th:text="${#authentication.principal.user.userEmail}"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-end contents" style="margin-top: 10px;">
              <input type="hidden" class="hidden-uid" name="hongCmntUid" value="0" />
              <textarea class="form-control" rows="3" style="margin-right: 5px;"></textarea>
              <button type="button" class="btn btn-sm btn-outline-primary comment-add" onclick="commentAdd(this)" style="width: 5%">댓글 <br> 달기</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{else}}
    <div class="col-xl-3 col-md-12 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col-auto">
              <img class="img-profile rounded-circle" th:src="|/api/hong/files/download?fileUrl=${#authentication.principal.user.profileUrl}|" onerror="this.src='/assets/src/img/profile.svg'" style="width: 50px; height: 50px;">
            </div>
            <div class="col mr-2" style="margin-left: 10px;">
              <div class="text-xl font-weight-bold mb-1">
                <span th:text="${#authentication.principal.user.userNm}"></span>
                <div class="text-black-50 small">
                  <span th:text="${#authentication.principal.user.userEmail}"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end contents" style="margin-top: 10px;">
            <input type="hidden" class="hidden-uid" name="hongCmntUid" value="0" />
            <textarea class="form-control" rows="3" style="margin-right: 5px;"></textarea>
            <button type="button" class="btn btn-sm btn-outline-primary comment-add" onclick="commentAdd(this)" style="width: 5%">댓글 <br> 달기</button>
          </div>
        </div>
      </div>
    </div>
    {{/if}}

  </script>

</th:block>
</html>