<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="hongs.community.hongsCommunity.global.hongs.file.common.HongCommonFileMapper">

    <select id="generateKey" resultType="Long">
        /* common-file.generateKey */
        select NVL(MAX(hong_file_uid)+1, 1) as uid
          from hong_file
    </select>

    <insert id="saveFile" parameterType="HongSaveFileDto">
        /* common-file.saveFile */
        insert into hong_file (
           hong_file_uid
          ,file_name
          ,file_url
          ,file_id
          ,file_type
          ,file_size
          ,extension
          ,down_cnt
          ,saved
          ,delete_yn
          ,reg_id
          ,mdfr_id
          ,reg_dt
          ,mdfr_dt
        ) values (
           #{hongFileUid}
          ,#{fileName}
          ,#{fileUrl}
          ,#{fileId}
          ,#{fileType}
          ,#{fileSize}
          ,#{extension}
          ,0
          ,'SAVED'
          ,'N'
          ,#{regId}
          ,#{mdfrId}
          ,now()
          ,now()
        )
    </insert>

    <update id="deleteFile" parameterType="HongDeleteFileDto">
        /* common-file.deleteFile */
        update hong_file
        set saved = #{saved}
          ,delete_yn = #{deleteYn}
          ,mdfr_id = #{mdfrId}
          ,mdfr_dt = now()
        where file_url = #{fileUrl}
    </update>

    <select id="list" parameterType="Long" resultType="HongFileViewVo">
        /* common-file.list */
        select hong_file_uid
              ,file_url
              ,file_id
              ,file_name
              ,file_type
              ,file_size
              ,extension
              ,down_cnt
              ,reg_dt
              ,saved
          from hong_file
         where hong_file_uid = #{hongFileUid}
           and delete_yn = 'N'
           and saved = 'SAVED'
    </select>

    <select id="view" parameterType="String" resultType="HongFileViewVo">
        /* common-file.view */
        select hong_file_uid
             ,file_url
             ,file_id
             ,file_name
             ,file_type
             ,file_size
             ,extension
             ,down_cnt
             ,reg_dt
        from hong_file
        where file_url = #{fileUrl}
          and saved = 'SAVED'
          and delete_yn = 'N'
    </select>

    <update id="updateDownCnt" parameterType="HongCommonFileDownloadDto">
        /* common-file.updateDownCnt */
        update hong_file
           set down_cnt = down_cnt + 1
         where hong_file_uid = #{hongFileUid}
           and file_url = #{fileUrl}
    </update>

    <insert id="insertLog" parameterType="HongCommonFileDownloadDto">
        /* common-file.insertLog */
        insert into hong_file_log (
             hong_file_uid
            ,file_url
            ,reg_id
            ,reg_dt
        ) values (
             #{hongFileUid}
            ,#{fileUrl}
            ,#{regId}
            ,now()
        )
    </insert>
</mapper>