<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="hongs.community.hongsCommunity.domain.test.TestMapper">	<!-- mapper 인터페이스가 위치하는 풀경로 -->
    <select id="testList" resultType="TestVo" parameterType="TestDto">	    <!-- id: mapper 인터페이스에서 선언한 메서드 이름과 동일 -->
        SELECT *
          FROM test_table
        <if test="name != null">
         where name = #{name}
        </if>
    </select>

    <insert id="testSave" parameterType="TestFileDto" useGeneratedKeys="true" keyProperty="uid">
        insert into test_table (
            name
        <if test="fileUid != null">
            ,file_uid
        </if>
            ,reg_id
            ,reg_dt
            ,mdfr_id
            ,mdfr_dt
        ) values (
            #{name}
        <if test="fileUid != null">
            ,#{fileUid}
        </if>
            ,#{regId}
            ,now()
            ,#{mdfrId}
            ,now()
        )
    </insert>

    <update id="testEdit" parameterType="TestFileDto">
        update test_table
           set name = #{name}
            <if test="fileUid != null">
              ,file_uid = #{fileUid}
            </if>
              ,mdfr_id = #{mdfrId}
              ,mdfr_dt = now()
         where uid = #{uid}
    </update>

    <select id="view" resultType="TestVo" parameterType="java.lang.Long">
        select uid
              ,name
              ,file_uid
          from test_table
         where uid = #{uid}
    </select>
</mapper>