<th:block th:fragment="menu">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Hongs Community<sup>1</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <th:block th:each="menu : ${#authentication.principal.user.menu}">

            <!-- 1-1. 부모 메뉴 + 자식메뉴가 있을 경우 -->
            <th:block th:if="${menu.upperMenuUid == null and #lists.size(menu.children) > 0}">
                <li class="nav-item" th:classappend="${#lists.contains(menu.urlList, menuUrl) ? 'active' : ''}">

                    <!-- 1-1-1. 자식 메뉴들 중에 현재 active 메뉴가 있을 경우 -->
                    <th:block th:if="${#lists.contains(menu.urlList, menuUrl)}">
                        <a class="nav-link" th:id="|menu${menu.menuUid}|" href="#" data-toggle="collapse" th:data-target="|#child${menu.menuUid}|" aria-expanded="true" th:aria-controls="|child${menu.menuUid}|">
                            <i class="fas fa-fw fa-folder"></i>
                            <span th:text="${menu.menuNm}"></span>
                        </a>
                        <div th:id="|child${menu.menuUid}|" class="collapse show" >
                            <div class="bg-white py-2 collapse-inner rounded">
                                <th:block th:each="child : ${menu.children}">
                                    <a class="collapse-item" th:classappend="${menuUrl eq child.menuUrl} ? 'active' : ''" th:href="${child.menuUrl}" th:text="${child.menuNm}"></a>
                                </th:block>
                            </div>
                        </div>
                    </th:block>

                    <!-- 1-1-2. 자식 메뉴들 중에 현재 active 메뉴가 없을 경우 -->
                    <th:block th:unless="${#lists.contains(menu.urlList, menuUrl)}">
                        <a class="nav-link collapsed" th:id="|menu${menu.menuUid}|" href="#" data-toggle="collapse" th:data-target="|#child${menu.menuUid}|" aria-expanded="false" th:aria-controls="|child${menu.menuUid}|">
                            <i class="fas fa-fw fa-folder"></i>
                            <span th:text="${menu.menuNm}"></span>
                        </a>
                        <div th:id="|child${menu.menuUid}|" class="collapse" >
                            <div class="bg-white py-2 collapse-inner rounded">
                                <th:block th:each="child : ${menu.children}">
                                    <a class="collapse-item" th:classappend="${menuUrl eq child.menuUrl} ? 'active' : ''" th:href="${child.menuUrl}" th:text="${child.menuNm}"></a>
                                </th:block>
                            </div>
                        </div>
                    </th:block>
                </li>
            </th:block>

            <!-- 1-2. 부모 메뉴 + 자식메뉴가 없을 경우 -->
            <th:block th:if="${menu.upperMenuUid == null and #lists.size(menu.children) == 0}">
                <li class="nav-item" th:classappend="${menuUrl eq menu.menuUrl} ? 'active' : ''">
                    <a class="nav-link" th:href="${menu.menuUrl}" th:id="|menu${menu.menuUid}|">
                        <i class="fas fa-fw fa-folder"></i>
                        <span th:text="${menu.menuNm}"></span></a>
                </li>
            </th:block>

        </th:block>

        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <!--<div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>-->

    </ul>
    <!-- End of Sidebar -->
</th:block>