<th:block th:fragment="head">
    <script th:src="@{'/assets/js/jquery/jquery.min.js'}"></script>
    <script th:src="@{'/assets/js/bootstrap/bootstrap.bundle.js'}"></script>

    <script th:src="@{'/assets/js/summernote/summernote-lite.js'}"></script>
    <script th:src="@{'/assets/js/summernote/lang/summernote-ko-KR.js'}"></script>
    <script th:src="@{'/assets/js/ckeditor/ckeditor-37.0.1.js'}"></script>
    <script th:src="@{'/assets/js/uppy/uppy.min.js'}"></script>
    <script th:src="@{'/assets/js/uppy/uppy.locales.js'}"></script>
    <script th:src="@{'/assets/js/calendar/calendar.min.js'}"></script>

    <script th:src="@{'/assets/js/sweetalert2/sweetalert2.js'}"></script>
    <script th:src="@{'/assets/js/table/tabulator.min.js'}"></script>
    <script th:src="@{'/assets/js/feather/feather.js'}"></script>

    <script th:src="@{'/assets/js/core/summernote.js'}"></script>
    <script th:src="@{'/assets/js/menu/menu.js'}"></script>
    <script th:src="@{'/assets/js/core/util.js'}"></script>
    <script th:src="@{'/assets/js/core/file.js'}"></script>
    <script th:src="@{'/assets/js/core/calendar.js'}"></script>
</th:block>