<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="content">
    <th:block th:replace="~{fragments/title :: title('코드 관리')}"></th:block>

    <div style="text-align: right; margin-bottom: 10px">
        <button type="button" class="btn btn-secondary" onclick="location.href='/super/code'">뒤로가기</button>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">상위 코드</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 col-6">
                    <div class="mb-1 margin-10">
                        <label for="addModal-codeVal">코드명</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="upper-codeVal" name="codeVal" th:value="${upperView?.codeVal}" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-6">
                    <div class="mb-1 margin-10">
                        <label for="editModal-codeName">코드이름</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="upper-codeName" name="codeName" th:value="${upperView?.codeName}" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-6">
                    <label>사용여부</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="upper-useYn" name="codeName" th:value="${(upperView?.useYn eq 'Y') ? '사용' : '미사용'}" readonly>
                    </div>
                </div>

                <div class="col-md-6 col-6">
                    <div class="mb-1 margin-10">
                        <label class="form-label" for="memoCn">메모</label>
                        <textarea class="form-control" id="upper-memoCn" name="memoCn" th:text="${upperView?.memoCn}" readonly></textarea>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">자식코드</h6>
        </div>
        <div class="card-body">

            <div style="text-align: right; margin-bottom: 10px">
                <button type="button" class="btn btn-primary" id="save-btn">저장하기</button>
                <button type="button" class="btn btn-secondary" id="add-row">추가하기</button>
            </div>

            <form id="child-code-form" class="needs-validation" novalidate>
                <input type="hidden" name="upperCodeVal" id="upperCodeVal" th:value="${upperView?.codeVal}" />
                <table class="table" id="child-code-table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">코드명</th>
                            <th scope="col">코드이름</th>
                            <th scope="col">사용여부</th>
                            <th scope="col">메모</th>
                            <th scope="col">삭제</th>
                        </tr>
                    </thead>
                    <tbody id="child-tbody">
                        <th:block th:if="${#lists.isEmpty(childList)}">
                            <tr>
                                <th scope="row">1</th>
                                <td>
                                    <input type="text" class="form-control" id="codeVal" name="codeVal" required >
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="codeName" name="codeName" required >
                                </td>
                                <td>
                                    <select class="form-select form-select-sm" name="useYn" required>
                                        <option value="Y" selected>사용</option>
                                        <option value="N">미사용</option>
                                    </select>
                                </td>
                                <td>
                                    <textarea class="form-control" id="memoCn" name="memoCn" rows="1" value="" required></textarea>
                                </td>
                                <td>
                                    <input type="hidden" class="form-control" name="hongCodeUid" value="0" />
                                    <button type="button" class="btn btn-sm btn-outline-secondary" id="del-btn" onclick="delRow(this)">삭제</button>
                                </td>
                            </tr>
                        </th:block>
                        <th:block th:unless="${#lists.isEmpty(childList)}">
                            <tr th:each="child, childStat : ${childList}">
                                <th scope="row" th:text="${childStat.index + 1}"></th>
                                <td>
                                    <input type="text" class="form-control" id="codeVal" name="codeVal" th:value="${child?.codeVal}" required >
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="codeName" name="codeName" th:value="${child?.codeName}" required >
                                </td>
                                <td>
                                    <select class="form-select form-select-sm" name="useYn" required>
                                        <option value="Y" th:selected="${child?.useYn == 'Y'}">사용</option>
                                        <option value="N" th:selected="${child?.useYn == 'N'}">미사용</option>
                                    </select>
                                </td>
                                <td>
                                    <textarea class="form-control" id="memoCn" name="memoCn" rows="1" th:text="${child?.memoCn}" required></textarea>
                                </td>
                                <td>
                                    <input type="hidden" class="form-control" name="hongCodeUid" th:value="${child?.hongCodeUid}" />
                                    <button type="button" class="btn btn-sm btn-outline-secondary" id="del-btn" onclick="delRow(this)">삭제</button>
                                </td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </form>
        </div>
    </div>


</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        const uid = [[${uid}]]
        let delUids = []

        $(document).ready(function() {

            $("#add-row").on('click', (e) => {
                e.preventDefault()
                const firstRow = document.querySelector('#child-code-table tbody tr:first-child')
                const clonedRow = firstRow.cloneNode(true)

                const select = clonedRow.querySelector('.form-select')
                select.value = 'Y';

                const inputs = clonedRow.querySelectorAll('.form-control')
                inputs.forEach(function(input) {
                    if (input.type === 'hidden') input.value = '0';
                    else input.value = '';
                });

                const tbody = document.querySelector("#child-code-table tbody")
                tbody.appendChild(clonedRow)
                updateRowIndex()
            })

            $("#save-btn").on('click', (e) => {
                e.preventDefault()
                const form = document.getElementById("child-code-form")
                if (form.checkValidity() === false) form.classList.add("was-validated")
                else {
                    FormDataToObj.getParameter("child-code-form").then(obj => {
                        const rtns = getObj(obj)
                        Http.post('/api/super/code/merge.json', rtns).then(res => {
                            if(res['httpStatus'] === 200) Util.alert("자식 코드 정보가 반영되었습니다.").then(() => window.location.href = `/super/code/edit/${uid}`)
                        })
                    })
                }
            })
        })

        function getObj(obj) {
            let insertLst = []
            let updateLst = []
            const upperCodeVal = obj['upperCodeVal']
            delete obj['upperCodeVal']

            if(Array.isArray(obj['hongCodeUid'])) {
                for(let i=0; i < obj['hongCodeUid'].length; i++) {
                    const rtnObj = { codeName: obj['codeName'][i], codeVal: obj['codeVal'][i], hongCodeUid: obj['hongCodeUid'][i], memoCn: obj['memoCn'][i], useYn: obj['useYn'][i] }
                    if(obj['hongCodeUid'][i] == 0) insertLst.push(rtnObj)
                    else updateLst.push(rtnObj)
                }
            } else {
                if(obj['hongCodeUid'] == 0) insertLst.push(obj)
                else updateLst.push(obj)
            }

            return { upperCodeVal: upperCodeVal, insertChild: insertLst, updateChild: updateLst, delUids: delUids }
        }

        function delRow(input) {
            const table = document.querySelector('#child-code-table tbody')
            const rows = table.getElementsByTagName('tr')

            if(rows.length > 1) {
                const row = input.parentNode.parentNode
                const hiddenInput  = row.querySelector('input[type="hidden"]');
                if(hiddenInput.value != 0) delUids.push(hiddenInput.value)
                row.parentNode.removeChild(row)
                updateRowIndex()
            } else Util.alert('최소 1개의 자식 코드가 필요합니다.')
        }

        function updateRowIndex() {
            const table = document.querySelector('#child-code-table tbody')
            const rows = table.getElementsByTagName('tr')
            for(let i = 0; i < rows.length; i++) {
                const cells = rows[i].getElementsByTagName('th')
                cells[0].textContent = i + 1
            }
        }

    </script>
</th:block>

</html>