<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="content">

    <div class="card">
        <div class="card-header">
            <h1 class="mt-4">Simple Sidebar</h1>
            <button id="test-btn" class="btn btn-primary" onclick="window.location.href='/test'">GO</button>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script>
        console.log("index page")
    </script>
</th:block>

</html>