<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="content">

    <div class="card">
        <div class="card-header">
            <h1 class="mt-4">Simple Sidebar</h1>
            <button id="test-btn" class="btn btn-primary">test</button>
        </div>
        <div class="card-body">
            <div class="form-control summernote" rows="5" id="content" name="content" required></div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script>
        console.log("index page")

        const summernote = new Summernote("content")

        $("#test-btn").on('click', () => {
            console.log("-> ", summernote.getCode())
        })

    </script>
</th:block>

</html>