<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/before}">

<th:block layout:fragment="content">
    <div class="card col-md-8">

        <!-- start : Login Form  -->
        <div class="login-container">
            <h4>로그인</h4>
            <form method="post" action="/loginProc" id="form">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                <label for="userId">아이디</label>
                <input type="text" id="userId" name="userId" class="form-control" required>
                <label for="password">비밀번호</label>
                <input type="password" id="password" name="password" class="form-control" required>
                <p class="error-message" style="color: #ff69b4; font-weight: bold" id="pwdError"></p>
                <div class="remember-checkbox">
                    <input type="checkbox" class="form-check-input" id="remember" name="remember">
                    <label for="remember">아이디 기억하기</label>
                </div>
                <button type="submit" class="login-btn">로그인</button>

                <div class="text-center mt-3">
                    <span style="cursor: pointer; font-weight: bold;" id="search-id">아이디 찾기</span>
                    <span>|</span>
                    <span style="cursor: pointer; font-weight: bold;" id="search-pwd">비밀번호 찾기</span>
                </div>

                <hr>

                <div class="card-text text-center" style="margin-top: 10px;">
                    <div class="text-center d-inline-block">
                        <span><b>소셜 로그인</b></span>
                        <div class="mb-3 mt-3">
                            <img src="/assets/src/img/login/sm-kakao.png" id="kakao-login-btn" style="cursor: pointer; margin-right: 10px;">
                            <img src="/assets/src/img/login/sm-naver.png" id="naver-login-btn" style="cursor: pointer; margin-right: 10px;">
                            <img src="/assets/src/img/login/sm-google.png" id="google-login-btn" style="cursor: pointer; ">
                        </div>
                    </div>
                </div>

                <hr>

                <div class="text-center mt-3">
                    <span>아직 회원이 아니신가요? &nbsp;</span>
                    <span style="color: #ff69b4;cursor: pointer; font-weight: bold;" id="new-login">회원가입하러가기</span>
                </div>
            </form>
        </div>
        <!-- end : Login Form  -->

        <!-- Start : change pwd form -->
        <form id="change-pwd-form" class="needs-validation" novalidate>
            <div class="modal" id="changePwdModal" tabindex="-1" aria-labelledby="changePwdModalLabel" data-bs-keyboard="false" aria-hidden="true" data-bs-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">비밀번호 변경하기</h4>
                        </div>

                        <form>
                            <!-- Modal body -->
                            <div class="modal-body">
                                <div class="mb-3 mt-3">
                                    <p class="error-message" style="color: #ff69b4">* 비밀번호가 만료되었습니다.</p>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label for="changePwdModal-loginUserId">아이디</label>
                                    <input type="text" class="form-control" id="changePwdModal-loginUserId" name="userId" readonly/>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label for="changePwd">비밀번호</label>
                                    <input type="password" class="form-control" id="changePwd" name="password" required />
                                    <div class="invalid-feedback">비밀번호를 입력하세요.</div>
                                </div>
                                <div class="mb-3 mt-3">
                                    <label for="changePwdChk">비밀번호 확인</label>
                                    <input type="password" class="form-control" id="changePwdChk" required />
                                    <div class="invalid-feedback">비밀번호가 일치하지 않습니다.</div>
                                </div>
                            </div>
                        </form>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-primary" id="more-days">90일 더 연장하기</button>
                            <button type="button" class="btn btn-primary" id="change-pwd">비밀번호 변경하기</button>
                        </div>

                    </div>
                </div>
            </div>
        </form>
        <!-- End : change pwd form -->

        <!-- Start : validate email form -->
        <form id="validate-email-form" class="needs-validation" novalidate>
            <div class="modal" id="validateEmailModal" tabindex="-1" aria-labelledby="validateEmailModalLabel" data-bs-keyboard="false" aria-hidden="true" data-bs-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">이메일 인증하기</h4>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">

                            <div class="mb-3 mt-3">
                                <p class="error-message" style="color: #ff69b4">* 최근 로그인일로부터 1년이 지나 휴먼 계정이 되었습니다. </p>
                            </div>

                            <div class="mb-3 mt-3">
                                <label for="validateEmailModal-loginUserId">아이디</label>
                                <input type="text" class="form-control" id="validateEmailModal-loginUserId" name="userId" readonly/>
                            </div>

                            <div class="mb-3 mt-3">
                                <label for="chkEmail">이메일</label>
                                <input type="text" class="form-control" id="chkEmail" name="userEmail" required />
                                <div class="invalid-feedback">이메일을 입력하세요.</div>
                            </div>

                            <div class="mb-3 mt-3">
                                <label for="verify-code">인증번호</label>
                                <input type="text" class="form-control" id="verify-code" name="validate-code" />
                            </div>

                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="email-validate">인증번호 발송</button>
                            <button type="button" class="btn btn-outline-primary" id="email-validate-chk" disabled>인증하기</button>
                        </div>

                    </div>
                </div>
            </div>
        </form>
        <!-- End : validate email form -->

    </div>
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{'/assets/js/page/login.js'}"></script>
</th:block>
</html>