<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/before}">

<th:block layout:fragment="content">
    <div class="card col-md-6">

        <!-- start : search-Id Form  -->
        <div class="login-container">
            <h4>비밀번호 초기화</h4>
            <label class="explain">* 비밀번호를 초기화해 알려드립니다. 로그인 이후, 비밀번호 변경을 해주세요.</label>
            <form id="form" class="needs-validation" novalidate>
                <label for="userEmail">이메일</label>
                <input type="text" id="userEmail" name="userEmail" class="form-control" required>
                <label for="userNm">이름</label>
                <input type="text" id="userNm" name="userNm" class="form-control" required>
                <button type="button" class="login-btn" id="search-pwd-btn">비밀번호 발송</button>
                <button type="button" class="back-btn" id="go-back-btn">뒤로가기</button>
            </form>
        </div>
        <!-- end : Login Form  -->

    </div>
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{'/assets/js/page/searchPwd.js'}"></script>
</th:block>
</html>