<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/before}">

<th:block layout:fragment="content">
    <div class="card col-md-6">

        <!-- start : search-Id Form  -->
        <div class="login-container">
            <h4>아이디 찾기</h4>
            <form id="form" class="needs-validation" novalidate>
                <label for="userEmail">이메일</label>
                <input type="text" id="userEmail" name="userEmail" class="form-control" required>
                <label for="userName">이름</label>
                <input type="text" id="userName" name="userName" class="form-control" required>
                <button type="button" class="login-btn" id="search-id-btn">아이디 발송</button>
                <button type="button" class="back-btn" id="go-back-btn">뒤로가기</button>
            </form>
        </div>
        <!-- end : Login Form  -->

    </div>
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{'/assets/js/page/searchId.js'}"></script>
</th:block>
</html>