<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="content">
    <th:block th:replace="~{fragments/title :: title('팀 정보 수정하기')}"></th:block>

    <div class="card">
        <div class="card-body" id="form-body">

            <form id="form" class="needs-validation" novalidate>
                <input type="hidden" name="hongTeamUid" th:value="${uid}" />
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="teamNm" class="form-label">팀명</label>
                        <input type="text" class="form-control" name="teamNm" id="teamNm" th:value="${teamEdit?.teamNm}" required>
                    </div>
                    <div class="col-md-6">
                        <label for="teamCtgry" class="form-label">팀분류</label>
                        <select class="form-select" name="teamCtgry" id="teamCtgry" required>
                            <th:block th:each="teamCat, teamCatStat: ${teamCategory}">
                                <option th:selected="${teamCat?.codeVal == teamEdit?.teamCtgry}" th:value="${teamCat?.codeVal}" th:text="${teamCat?.codeNm}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="memberNum" class="form-label">팀 최대 인원</label>
                        <input type="number" class="form-control" name="memberNum" id="memberNum" th:value="${teamEdit?.memberNum}" required>
                        <label style="color: gray; font-size: 12px;">*팀 인원은 팀 주최자 본인을 포함한 인원수로 계산해주세요.</label>
                    </div>
                    <div class="col-md-6">
                        <label for="teamShortIntro" class="form-label">팀의 짧은 소개</label>
                        <input type="text" class="form-control" name="teamShortIntro" id="teamShortIntro" th:value="${teamEdit?.teamShortIntro}" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label">팀소개</label>
                        <div class="form-control summernote" rows="5" id="content" name="content" required></div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">팀 프로필</label>
                        <div class="border p-3">
                            <label class="form-label" for="upload-container">첨부파일</label>
                            <div>
                                <div id="upload-container" class="mt-1"></div>
                            </div>
                            <div>
                                <div style="color: gray; margin-top: 5px;">* 업로드 가능 확장자: jpg, png</div>
                                <div style="color: gray;">* 최대 업로드 가능 개수: 1개</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 버튼 영역 -->
                <div class="row mb-3">
                    <div class="col-md-12 text-end">
                        <button type="button" class="btn btn-secondary" id="goback-btn">뒤로가기</button>
                        <button type="button" class="btn btn-primary" id="save-btn">저장</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">

        const teamProfile = /*[[${teamEdit.teamProfile}]]*/ null;
        const teamIntro = /*[[${teamEdit.teamIntro}]]*/ "";

        const summernote = new Summernote("content")
        const upload = new Upload("#upload-container", 1, ['png','jpg'])

        $(document).ready(function() {
            upload.drawEditFile(teamProfile, upload)
            summernote.setCode(teamIntro)

            $("#goback-btn").on('click', () => {
                Util.confirm("작성중이던 정보는 사라집니다. <br> 뒤로 돌아가시겠습니까?").then((isOk) => {
                    if(isOk) window.location.href = '/team'
                })
            })

            $("#save-btn").on('click', (e) => {
                e.preventDefault()
                const form = document.getElementById("form")
                if (form.checkValidity() === false) form.classList.add("was-validated");
                else {
                    FormDataToObj.getParameter("form").then(obj => {

                        if(obj['files']) delete obj['files']
                        obj['teamProfile'] = teamProfile
                        obj['addFile'] = upload.getTempFiles()
                        obj['delFile'] = upload.getRemoveFileUrls()
                        obj['teamIntro'] = summernote.getCode()

                        Http.put('/api/team/update-team.json', obj).then((res) => {
                            if(res['httpStatus'] === 200) Util.alert("팀 정보를 수정했습니다.").then(() => window.location.href = '/team')
                            else if(res['httpStatus'] === 400) Util.alert("팀 정보 수정에 실패했습니다.")
                        })
                    })
                }
            })

        })
    </script>
</th:block>

</html>