<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="content">
    <th:block th:replace="~{fragments/title :: title('팀 정보')}"></th:block>

    <div class="d-flex justify-content-end">
        <div style="display: flex; align-items: center;">
            <label style="margin-right: 6px; margin-bottom: 0px;">
                <i data-feather="search" class="front-medium-2" style="width: 20px; height: 20px"></i>검색
            </label>
            <select class="form-select form-select-sm" style="width: 200px; margin-right: 10px;" id="search-select">
                <option value="all" th:selected="${search == 'all'}">전체</option>
                <option value="wait" th:selected="${search == 'wait'}">승인대기</option>
                <option value="member" th:selected="${search == 'member'}">팀멤버</option>
                <option value="rprsv" th:selected="${search == 'rprsv'}">팀대표</option>
            </select>
        </div>
    </div>

   <div style="margin-top: 10px;">
       <div class="row">
           <!-- Basic Card Example -->
           <th:block th:each="team , teamStat : ${teams}">
               <div class="col-md-4">
                   <div class="card shadow mb-4">
                       <div class="card-header py-3">
                           <div class="d-flex justify-content-between align-items-center">
                               <h6 class="m-0 font-weight-bold text-primary" th:text="${team?.teamNm}"></h6>
                               <h6 class="m-0 font-weight-bold text-secondary" th:text="${(team?.joinedStatus != null) ? team?.joinedStatus : '신청가능'}"></h6>
                           </div>
                       </div>
                       <div class="card-body">

                           <div th:if="${team?.teamProfile != null}">
                               <img th:src="|/api/hong/files/download?fileUrl=${team?.teamProfileUrl}|" onerror="this.src='/assets/src/img/profile.svg'" style="width: 100px; height: 100px; border-radius: 7px;">
                           </div>

                           <hr th:if="${team?.teamProfile != null}" />

                           <span style="font-size: 13px; color: gray;">팀 분류</span>
                           <div>
                               <span th:text="${team?.teamCtgryNm}"></span>
                           </div>

                           <hr/>

                           <span style="font-size: 13px; color: gray;">팀 소개</span>
                           <div>
                               <span th:text="${team?.teamShortIntro}"></span>
                           </div>

                           <hr/>

                           <span style="font-size: 13px; color: gray;">참여인원<label style="color: gray; font-size: 12px;"> &nbsp (*팀 인원은 팀 주최자 본인을 포함한 인원수입니다.)</label></span>
                           <div>
                               <span th:text="|${team?.totalMemberNum} / ${team?.memberNum}|"></span>
                           </div>

                           <div class="d-flex justify-content-end">
                               <button type="button" class="btn btn-sm btn-outline-secondary" style="margin-right: 5px"
                                       th:onclick="'showJoinUser(\'' + ${team?.hongTeamUid} + '\')'"
                                       th:if="${#authentication.principal.user.userUid == team?.rprsvUid}">
                                   신청한 사용자 보러가기
                               </button>
                               <button type="button" class="btn btn-sm btn-primary" style="margin-right: 5px"
                                       th:onclick="'updateTeam(\'' + ${team?.hongTeamUid} + '\')'"
                                       th:if="${#authentication.principal.user.userUid == team?.rprsvUid}">
                                   수정하기
                               </button>
                               <button type="button" class="btn btn-sm btn-outline-primary" style="margin-right: 5px"
                                       th:onclick="'joinTeam(\'' + ${team?.hongTeamUid} + '\')'"
                                       th:disabled="${team?.totalMemberNum == team?.memberNum}"
                                       th:if="${!team?.ifJoined}">
                                   참여신청하기
                               </button>
                               <button type="button" class="btn btn-sm btn-secondary"
                                       th:onclick="'viewTeam(\'' + ${team?.hongTeamUid} + '\')'">
                                   구경하기
                               </button>
                           </div>
                       </div>
                   </div>
               </div>
           </th:block>

           <div class="col-md-4">
               <div class="card shadow mb-4">
                   <div class="card-body">
                       <div class="card-body d-flex justify-content-center align-items-center" style="display: flex; flex-direction: column;">
                           <span>팀생성하기</span>
                           <i data-feather="plus-square" class="front-medium-2" style="width: 50px; height: 50px;" href="#" onclick="location.href='/team/form'"></i>
                       </div>
                   </div>
               </div>
           </div>

       </div>
   </div>

</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">

        $(document).ready(function() {
            history.replaceState({}, null, '/team')

            $("#search-select").on('change', (e) => {
                const search = $("#search-select option:selected").val()
                window.location.href = `/team?search=${search}`
            })
        })

        function joinTeam(teamUid) {
            Util.confirm('해당 팀에 신청하시겠습니까? <br> 팀대표의 승인을 통해 팀에 참여하실 수 있습니다.').then((isOk) => {
                if(isOk) {
                    Http.post('/api/team/join-team.json', {aprvYn: 'N', hongTeamUid: teamUid}).then((res) => {
                        if(res['httpStatus'] === 201) Util.alert("팀 신청을 완료하였습니다.").then(() => window.location.href = '/team')
                    })
                }
            })
        }

        function viewTeam(teamUid) {
            window.location.href = `/team/view/${teamUid}`
        }

        function updateTeam(teamUid) {
            window.location.href = `/team/edit/${teamUid}`
        }

        function showJoinUser(teamUid) {
            window.location.href = `/team/user/list/${teamUid}`
        }

    </script>
</th:block>

</html>