<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="content">
    <th:block th:replace="~{fragments/title :: title('팀 조회')}"></th:block>

    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-sm btn-outline-secondary" style="margin-right: 5px"
                th:onclick="'showJoinUser(\'' + ${teamView?.hongTeamUid} + '\')'"
                th:if="${#authentication.principal.user.userUid == teamView?.rprsvUid}">
            신청한 사용자 보러가기
        </button>
        <button type="button" class="btn btn-sm btn-primary" style="margin-right: 5px"
                th:onclick="'updateTeam(\'' + ${teamView?.hongTeamUid} + '\')'"
                th:if="${#authentication.principal.user.userUid == teamView?.rprsvUid}">
            수정하기
        </button>
        <button type="button" class="btn btn-sm btn-outline-primary" style="margin-right: 5px"
                th:onclick="'joinTeam(\'' + ${teamView?.hongTeamUid} + '\')'"
                th:disabled="${teamView?.totalMemberNum == teamView?.memberNum}"
                th:if="${!teamView?.ifJoined}">
            참여신청하기
        </button>
        <button type="button" class="btn btn-sm btn-secondary" id="goback-btn">뒤로가기</button>
    </div>

    <div class="card shadow mb-4" style="margin-top: 10px;">
        <div class="card-header py-3">
            <div class="d-flex justify-content-between align-items-center">
                <h6 class="m-0 font-weight-bold text-primary" th:text="${teamView?.teamNm}"></h6>
                <h6 class="m-0 font-weight-bold text-secondary" th:text="${(teamView?.joinedStatus != null) ? teamView?.joinedStatus : '신청가능'}"></h6>
            </div>
        </div>
        <div class="card-body">

            <div th:if="${teamView?.teamProfile != null}">
                <img th:src="|/api/hong/files/download?fileUrl=${teamView?.teamProfileUrl}|" style="width: 200px; height: 200px; border-radius: 7px;">
            </div>

            <hr th:if="${teamView?.teamProfile != null}" />

            <div class="row mb-3">
                <div class="col-md-3">
                    <span style="font-size: 13px; color: gray;">팀 대표</span>
                    <div>
                        <span th:text="${teamView?.rprsvNm}"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <span style="font-size: 13px; color: gray;">팀 분류</span>
                    <div>
                        <span th:text="${teamView?.teamCtgryNm}"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <span style="font-size: 13px; color: gray;">참여인원</span>
                    <div>
                        <span th:text="|${teamView?.totalMemberNum} / ${teamView?.memberNum}|"></span>
                    </div>
                </div>
            </div>

            <hr/>

            <div class="row mb-3">

                <div class="col-md-12">
                    <span style="font-size: 13px; color: gray;">팀 짧은 소개</span>
                    <div>
                        <span th:text="${teamView?.teamShortIntro}"></span>
                    </div>
                </div>

            </div>

            <hr/>

            <div class="row mb-3">
                <div class="col-md-12">
                    <span style="font-size: 13px; color: gray;">팀 소개</span>
                    <div class="container-fluid" style="margin-top: 10px; overflow-y: auto; height: 300px">
                        <div id="content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="~{fragments/comments/comment :: comment}"></th:block>

</th:block>

<th:block layout:fragment="script">
    <th:block th:replace="~{fragments/comments/comment-script :: script}"></th:block>
    <script th:inline="javascript">

        const teamView = /*[[${teamView}]]*/ {};
        const summernote = new Summernote("content").setCode(teamView.teamIntro).destroy()

        $(document).ready(function() {
            $("#goback-btn").on('click', () => {
                window.location.href = '/team'
            })
        })

        function joinTeam(teamUid) {
            Util.confirm('해당 팀에 신청하시겠습니까? <br> 팀대표의 승인을 통해 팀에 참여하실 수 있습니다.').then((isOk) => {
                if(isOk) {
                    Http.post('/api/team/join-team.json', {aprvYn: 'N', hongTeamUid: teamUid}).then((res) => {
                        if(res['httpStatus'] === 201) Util.alert("팀 신청을 완료하였습니다.").then(() => window.location.href = '/team')
                    })
                }
            })
        }

        function updateTeam(teamUid) {
            window.location.href = `/team/edit/${teamUid}`
        }

        function showJoinUser(teamUid) {
            window.location.href = `/team/user/list/${teamUid}`
        }
    </script>
</th:block>

</html>