<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hongs.community.hongsCommunity.domain.board.HongBoardTypeMapper">

    <select id="list" resultType="HongBoardTypeListVo">
        /* board-type.list */
        select hbtype.hong_board_type_uid as hong_board_type_uid
              ,hbtype.board_type_cd as board_type_cd
              ,hcode.code_nm as board_type_name
              ,hcode.memo_cn as board_cd
              ,hbtype.board_name as board_name
              ,hbtype.comment_yn as comment_yn
              ,hbtype.file_atch_yn as file_atch_yn
              ,case when hbtype.comment_yn = 'Y' then '사용' else '미사용' end as comment_yn_str
              ,case when hbtype.file_atch_yn = 'Y' then '사용' else '미사용' end as file_atch_yn_str
              ,case when hbtype.use_yn = 'Y' then '사용' else '미사용' end as use_yn_str
              ,hbtype.use_yn as use_yn
              ,huser.user_nm as reg_name
              ,to_char(hbtype.reg_dt, 'YYYY-MM-DD') as reg_dt
          from hong_board_type hbtype
          left join hong_user huser on huser.user_uid = hbtype.reg_id
          left join hong_code hcode on hcode.code_val = hbtype.board_type_cd and hcode.upper_code_val = 'BOARD_TYPE' and hcode.use_yn = 'Y' and hcode.del_yn = 'N'
         where hbtype.delete_yn = 'N'
    </select>

    <insert id="insert" parameterType="HongBoardTypeInsertUpdateDto">
        /* board-type.insert */
        insert into hong_board_type (
            board_type_cd
           ,board_name
           ,comment_yn
           ,file_atch_yn
           ,use_yn
           ,delete_yn
           ,reg_id
           ,reg_dt
           ,mdfr_id
           ,mdfr_dt
        ) values (
             #{boardTypeCd}
            ,#{boardName}
            ,#{commentYn}
            ,#{fileAtchYn}
            ,#{useYn}
            ,'N'
            ,#{regId}
            ,now()
            ,#{mdfrId}
            ,now()
        )
    </insert>

    <select id="view" resultType="HongBoardTypeViewVo" parameterType="Long">
        /* board-type.view */
        select hong_board_type_uid
              ,board_type_cd
              ,board_name
              ,comment_yn
              ,file_atch_yn
              ,use_yn
          from hong_board_type
         where hong_board_type_uid = #{hongBoardTypeUid}
    </select>

    <update id="update" parameterType="HongBoardTypeInsertUpdateDto">
        /* board-type.update */
        update hong_board_type
           set board_name = #{boardName}
              ,board_type_cd = #{boardTypeCd}
              ,comment_yn = #{commentYn}
              ,file_atch_yn = #{fileAtchYn}
              ,use_yn = #{useYn}
          where hong_board_type_uid = #{hongBoardTypeUid}
    </update>

    <delete id="delete" parameterType="Long">
        /* board-type.delete */
        update hong_board_type
           set delete_yn = 'Y'
         where hong_board_type_uid = #{hongBoardTypeUid}
    </delete>
    
    <select id="latestBoardType" parameterType="String" resultType="Long">
        /* board-type.latestBoardType */
        select hong_board_type_uid
          from hong_board_type
         where board_type_cd = #{hongBoardType}
           and use_yn = 'Y'
           and delete_yn = 'N'
         order by reg_dt desc
         limit 1
    </select>

    <update id="ynUpdate" parameterType="HongBoardYnUpdateDto">
        /* board-type.ynUpdate */
        update hong_board_type
           set mdfr_id = #{mdfrId}
              ,mdfr_dt = now()
            <if test="type == 'commentYn'">
              ,comment_yn = #{ynValue}
            </if>
            <if test="type == 'fileAtchYn'">
              ,file_atch_yn = #{ynValue}
            </if>
            <if test="type == 'useYn'">
              ,use_yn = #{ynValue}
            </if>
         where hong_board_type_uid = #{uid}
    </update>
</mapper>