<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hongs.community.hongsCommunity.domain.report.admin.HongAdminBoardReportMapper">

    <select id="list" parameterType="HongAdminBoardReportListDto" resultType="HongAdminBoardReportListVo">
        /* admin-board-report.list */
        select hbreport.hong_board_report_uid as report_uid
              ,hbreport.hong_board_type_uid as type_uid
              ,hbreport.report_title as title
              ,hbreport.report_content as content
              ,hbreport.file_uid as file_uid
              ,hbreport.notice_yn as notice_yn
              ,huser.user_name as reg_name
              ,to_char(hbreport.reg_dt, 'YYYY-MM-DD') as reg_dt
              ,( select count(*)
                   from hong_file hfile
                  where hfile.hong_file_uid = hbreport.file_uid
                    and hfile.delete_yn = 'N'
                    and hfile.saved = 'SAVED' ) as file_cnt
               ,( select count(*)
                    from hong_comment hcomment
                   where hcomment.target_id = hbreport.hong_board_report_uid
                     and hcomment.target_type = 'BOARD_REPORT_COMM' ) as comment_cnt
          from hong_board_report hbreport
         inner join hong_board_type hbtype on hbtype.hong_board_type_uid = hbreport.hong_board_type_uid
          left join hong_user huser on huser.user_uid = hbreport.reg_id
         where hbreport.hong_board_type_uid = #{typeUid}
           and hbreport.delete_yn = 'N'
    </select>

    <insert id="insert" parameterType="HongAdminBoardReportInsertUpdateDto">
        /* admin-board-report.insert */
        insert into hong_board_report (
            hong_board_type_uid
           ,report_title
           ,report_content
        <if test="fileUid != null">
           ,file_uid
        </if>
        <if test="noticeYn != null">
           ,notice_yn
        </if>
           ,reg_id
           ,reg_dt
           ,mdfr_id
           ,mdfr_dt
        ) values (
            #{hongBoardTypeUid}
           ,#{reportTitle}
           ,#{reportContent}
        <if test="fileUid != null">
           ,#{fileUid}
        </if>
        <if test="noticeYn != null">
           ,#{noticeYn}
        </if>
           ,#{regId}
           ,now()
           ,#{mdfrId}
           ,now()
        )
    </insert>

    <select id="view" parameterType="Long" resultType="HongAdminBoardReportViewVo">
        /* admin-board-report.view */
        select hong_board_report_uid as report_uid
              ,report_title as title
              ,report_content as content
              ,file_uid
              ,notice_yn
          from hong_board_report
         where hong_board_report_uid = #{reportUid}
    </select>

    <update id="update" parameterType="HongAdminBoardReportInsertUpdateDto">
        /* admin-board-report.update */
        update hong_board_report
           set report_title = #{reportTitle}
              ,report_content = #{reportContent}
            <if test="fileUid != null">
              ,file_uid = #{fileUid}
            </if>
            <if test="noticeYn != null">
              ,notice_yn = #{noticeYn}
            </if>
              ,mdfr_id = #{mdfrId}
              ,mdfr_dt = now()
        where hong_board_report_uid = #{hongBoardReportUid}
    </update>

    <update id="delete" parameterType="Long">
        /* admin-board-report.delete */
        update hong_board_report
           set delete_yn = 'Y'
         where hong_board_report_uid = #{reportUid}
    </update>
</mapper>